  <div class="d-flex flex-row flex-wrap mb-3" >
    <div class="p-2" *ngFor="let card of cards; let i = index">
    <mat-card class="example-card">

      <mat-card-subtitle>

        <form>
          <mat-form-field>
            <mat-label>Titulo</mat-label>
            <input
            #titulo
            type="text"
            matInput

            >

            {{ card.titulo }}
          </mat-form-field>
        </form>


      </mat-card-subtitle>



      <mat-card-content>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Descrição</mat-label>
            <textarea
              type="text"
              [(ngModel)]="descricao"

              matInput cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              #message
              maxlength="256"

            > {{ card.descricao }}
            </textarea>

            <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <div class="button-row">
        <button class="remover" *ngIf="!(i==0)" (click)="onRemoveCard(i)"mat-mini-fab color="warn" aria-label="Example icon button with a delete icon">
          <mat-icon>clear</mat-icon>
        </button>
        <button
        class="adicionar"
        *ngIf="i==0"
        (click)="onAddCard(titulo.value, message.value)"
        class="botaoCriar"
        mat-mini-fab color="primary"
        >
          <mat-icon>done</mat-icon>
        </button>

      </div>
      </mat-card-actions>
    </mat-card>
  </div>

  </div>
